.mcard-index {
  padding: 30px;
  .mcard-title {
    font-size: 30px;
    color: #333333;
    padding-left: 30px;
    margin-bottom: 16px;
  }
  .item {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
}
