.componets-list {
  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .list_top {
    display: flex;
    justify-content: space-between;
  }
  .list_top_left {
    display: flex;
    align-items: center;
  }
  .list_top_rt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .list_info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
    .list_name {
      // margin-bottom: 5px;
      color: #111111;
      font-size: 34px;
    }
    .list_p {
      color: #686868;
      font-size: 26px;
      display: flex;
      align-items: center;
    }
    .list_p_img {
      width: 100px;
      height: 30px;
      margin-left: 16px;
    }
    .icon_pledge {
      background: url("../../assets/images/pledge.png") #f0f6ff 10px center
        no-repeat;
      background-size: 26px;
      color: #67a6ff;
      font-size: 26px;
      padding: 2px 10px;
      border-radius: 8px;
      padding-left: 40px;
      margin-left: 16px;
    }
    .icon_real {
      background: url("../../assets/images/real.png") #fbede4 10px center
        no-repeat;
      background-size: 26px;
      color: #ff9946;
      font-size: 26px;
      padding: 2px 10px;
      border-radius: 8px;
      padding-left: 40px;
      margin-left: 16px;
    }
  }
  .list_collection image {
    width: 40px;
    height: 40px;
  }
  .list_content {
    color: #2f2f2f;
    font-size: 30px;
    margin: 16px 0px;
    .list_title {
      display: flex;
    }
    .list_title_desc {
      font-size: 30px;
      font-weight: bold;
      color: #333333;
      margin-top: 16px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .list_loction {
    background: url("https://yuepai-oss.qubeitech.com/static/images/common/local.png")
      left center no-repeat;
    background-size: 36px;
    padding-left: 36px;
    font-size: 36px;
    color: #3a3a3a;
  }
  .list_date {
    color: #686868;
    font-size: 24px;
  }
  .list_desc {
    font-size: 30px;
    color: #6b6b6b;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .list_img {
    display: flex;
    white-space: nowrap;
    .list_img_item {
      width: 214px;
      height: 214px;
      border-radius: 10px;
      margin-right: 20px;
      background: #e5e5e5;
    }
  }
  .list_sex {
    width: 30px;
    height: 30px;
    margin-left: 4px;
  }
  .list_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    .tag {
      padding: 4px 10px;
      background: rgba(245, 50, 24, 0.08);
      color: #ff1e3e;
      font-size: 22px;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 16px;
    }
  }
  .list_bottom {
    display: flex;
    justify-content: space-between;
    color: #6b6b6b;
    border-top: 1px solid #ebebeb;
  }
  .list_time {
    display: flex;
    align-items: center;
    font-size: 24px;
    image {
      width: 26px;
      height: 26px;
      margin-right: 4px;
    }
  }
  .list_yuepai {
    display: flex;
    align-items: center;
    font-size: 24px;
    image {
      width: 26px;
      height: 26px;
      margin-right: 4px;
    }
  }
  .list_read {
    display: flex;
    align-items: center;
    font-size: 24px;
    image {
      width: 26px;
      height: 26px;
      margin-right: 4px;
    }
  }
  .list_video-width {
    width: 50%;
  }
}
.none-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  color: #333;
}
.none-img {
  width: 150px;
  height: 150px;
  margin-bottom: 16px;
}
