page {
  background-color: #f4f4f4;
}
.recharge-wallet {
  margin: 16px 0px;
  background: #ffffff;
  padding: 16px;
  .recharge-wallet-title {
    font-size: 32px;
    color: #333333;
    font-weight: bold;
    padding: 0px 30px;
  }
  .wallet-list {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .select-coin {
      width: 260px;
      padding: 30px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      color: #333333;
      font-size: 36px;
      text-align: center;
      border-radius: 8px;
      margin-bottom: 16px;
      position: relative;
    }
    .active {
      border-color: #ea6a6b;
      color: #ea6a6b;
    }
    .amount {
      height: 100%;
      width: 100%;
    }
    .tag {
      position: absolute;
      right: 0px;
      top: 0px;
      background: #ff1e3e;
      color: #ffffff;
      font-size: 22px;
      padding: 6px;
      border-radius: 25% 0px 25% 0px;
    }
  }
  .wallet-tips {
    background: #f3f3f3;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    margin: 0px 16px;
    border-radius: 8px;
    font-size: 26px;
    .wallet-p {
      margin-bottom: 6px;
    }
  }
}
