.release-box {
  padding: 30px 78px;
  .release-title {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: #333333;
    height: 254px;
  }
  .release-list {
    height: calc(100vh - 320px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .release-item {
    width: 100%;
    margin-bottom: 44px;
  }
  .release-image {
    width: 78px;
    height: 78px;
  }
  .release-item {
    display: flex;
    .release-left {
      margin-right: 40px;
    }
    .release-list-title {
      font-size: 30px;
      color: #f9475f;
      margin-bottom: 16px;
    }
    .release-list-content {
      font-size: 22px;
      line-height: 36px;
      color: #777777;
    }
  }
}
