.works {
  padding: 0px 20px 100px 20px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  .input-placeholder,
  .textarea-placeholder {
    font-size: 30px;
  }
  .first {
    margin-right: 6px;
    color: #333333;
    margin-left: 10px;
  }
  .first-none {
    margin-left: 10px;
    color: #808080;
    font-size: 30px;
  }
  .works-item {
    margin: 10px 0px;
    padding: 0px 16px 16px 16px;
    background: #ffffff;
    border-radius: 4px;
  }
  .works-title,
  .works-info {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #eeeeee;
    color: #333333;
  }
  .works-info {
    justify-content: space-between;
  }
  .check-tips {
    color: #fe3e3f;
    margin-left: 10px;
  }
  .works-tips {
    color: #999999;
    margin-left: 10px;
  }
  .works-name {
    width: 100%;
    margin-top: 20px;
  }
  .works-upload {
    padding: 28px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .works-upload-img,
  .works-upload-video {
    width: 158px;
    height: 158px;
    margin-right: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
  }
  .upload-width {
    width: 100%;
    height: 100%;
  }
  .upload-video-width {
    width: 400px;
  }
  .upload-img,
  .upload-video {
    width: 40px;
    height: 36px;
  }
  .upload-txt {
    color: #c7c7c7;
    font-size: 26px;
  }
  .works-upload-list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
  }
  .works-input,
  .works-select {
    // margin-left: 186px;
    width: 75%;
  }
  .works-info .works-input {
    text-align: right;
  }
  .works-select-item {
    color: #808080;
    text-align: right;
    background: url("https://yuepai-oss.qubeitech.com/static/images/right.png")
      right center no-repeat;
    background-size: 12px;
    padding-right: 24px;
    font-size: 30px;
  }
  .works-select-value {
    color: #333333;
  }
  .switch-btn {
    margin-left: 16px;
  }
  .tag-list {
    padding: 16px 0px;
    display: flex;
    flex-wrap: wrap;
    .tag-txt {
      padding: 8px 24px;
      border: 1px solid #a9a9a9;
      border-radius: 25px;
      font-size: 22px;
      color: #a9a9a9;
      margin-right: 20px;
      margin-bottom: 16px;
    }
    .active {
      background-color: #fe3e3f;
      color: #ffffff;
      border: 1px solid #fe3e3f;
    }
  }
  .works-btn {
    width: calc(100% - 32px);
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 16px 0px 50px 0px;
    z-index: 9;
    .release {
      //   width: 440px;
      width: 90%;
      height: 68px;
      line-height: 68px;
      background-color: #fe3e3f;
      color: #ffffff;
      text-align: center;
      border-radius: 33px;
      font-size: 28px;
    }
  }
  .upload-video-item {
    position: relative;
  }
  .upload-close {
    width: 38px;
    height: 38px;
    background: url("https://yuepai-oss.qubeitech.com/static/images/common/x_icon.png")
      no-repeat rgba(0, 0, 0, 0.55);
    background-size: 38px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .payment-amount {
    display: flex;
  }
  .amount,
  .min-amount,
  .max-amount {
    border-bottom: 1px solid #e5e5e5;
    width: 130px;
    text-align: center;
    font-size: 26px;
  }
  .payment-box {
    display: flex;
  }
  .amount1 {
    border-bottom: 1px solid #e5e5e5;
    width: 210px;
    text-align: center;
    font-size: 26px;
  }
  .company {
    display: flex;
  }
  .company,
  .payment_range,
  .payment_range_text {
    font-size: 26px;
  }
  .split,
  .payment_range_text {
    color: #a9a9a9;
  }
  .min-amount {
    margin-right: 4px;
  }
  .max-amount {
    margin-left: 4px;
  }
  .payment_range_text {
    font-size: 26px;
  }
}
