page {
  background-color: #f4f4f4;
}
.add-activity {
  padding-bottom: 150px;
  .activity-lable {
    color: #333333;
    font-size: 30px;
    min-width: 120px;
    display: flex;
    align-items: center;
  }
  .input-placeholder,
  .textarea-placeholder {
    font-size: 28px;
  }
  .required {
    color: #fe3e3f;
    margin-right: 10px;
  }
  .activity-title {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    height: 78px;
    margin: 16px;
    padding: 0px 16px;
  }
  .activity-name-input,
  .activity-location-input {
    margin-left: 16px;
    width: 82%;
    height: 78px;
    line-height: 78px;
  }
  .activity-info {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
  }
  .activity-info-left {
    background: #ffffff;
    border-radius: 8px;
    width: 502px;
    margin-right: 16px;
    padding: 0px 16px;
  }
  .activity-info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
  }
  .activity-setup-item {
    display: flex;
    align-items: center;
    height: 78px;
  }
  .activity-content {
    display: flex;
    align-items: center;
    width: 70%;
  }
  .activity-content-time {
    display: flex;
    align-items: center;
  }
  .to {
    font-size: 30px;
    color: #333333;
    margin: 0px 6px;
  }
  .activity-content input {
    text-align: right;
    height: 78px;
    line-height: 78px;
  }
  .activity-content text {
    color: #333333;
    font-size: 30px;
    margin-left: 16px;
  }
  .picker {
    height: 78px;
    line-height: 78px;
  }
  .picker_children {
    color: #808080;
    text-align: right;
    background: url("https://yuepai-oss.qubeitech.com/static/images/right.png")
      right center no-repeat;
    background-size: 12px;
    padding-right: 24px;
    font-size: 30px;
  }
  .picked {
    color: #333333;
  }
  .w100 {
    width: 100%;
  }
  .activity-info-right {
    width: 190px;
  }
  .upload-cover {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    background-color: #e7e7e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
  }
  .works-upload-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .works-upload-img {
    width: 158px;
    height: 158px;
    margin-right: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
  }
  .upload-width {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .cover-img,
  .upload-img {
    width: 40px;
    height: 36px;
  }
  .cover-txt,
  .upload-txt {
    color: #c7c7c7;
    font-size: 26px;
  }
  .upload-close {
    width: 38px;
    height: 38px;
    background: url("https://yuepai-oss.qubeitech.com/static/images/common/x_icon.png")
      no-repeat rgba(0, 0, 0, 0.55);
    background-size: 38px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .activity-venue {
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
    padding: 0px 16px;
  }
  .activity-location {
    display: flex;
    width: 70%;
    flex-direction: row-reverse;
  }
  .activity-location-input {
    width: 100%;
    text-align: right;
  }
  .activity-desc,
  .activity-upload,
  .activity-cost,
  .activity-mode,
  .activity-security,
  .activity-task,
  .setup,
  .activity-agreement {
    background: #ffffff;
    border-radius: 8px;
    padding: 0px 16px;
    margin: 16px;
  }
  .activity-upload {
    padding: 0px 16px 4px 16px;
  }
  .activity-desc-input {
    width: 100%;
  }
  .deduction-amount {
    width: 200px;
  }
  .deduction-amount2 {
    width: 120px;
    margin-left: 16px;
  }
  .deduction-box,
  .early-bird-discount {
    display: flex;
  }
  .early-bird-mr {
    margin-right: 16px;
  }
  .early-bird-unit {
    font-size: 30px;
    color: #333333;
  }
  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .tab-item {
    position: relative;
    color: #333333;
    flex: 1;
    font-size: 30px;
    text-align: center;
    line-height: 66rpx;
    border-bottom: 6rpx solid #fdf6e8;
    margin: 0px 15%;
  }
  .tab-item.on {
    color: #333333;
    font-weight: bold;
    border-bottom-color: #ff1e3e;
  }
  .charge-amount {
    text-align: right;
    margin-right: 16px;
    width: 300px;
  }
  .charge-box {
    display: flex;
  }
  .session-title {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.4);
    padding: 16px;
    display: flex;
    justify-content: space-between;
  }
  .session-delete,
  .group-delete,
  .task-delete,
  .invited-delete {
    color: #6493d7;
  }
  .group-delete {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;
    font-size: 28px;
  }
  .task-delete {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
    font-size: 28px;
  }
  .add-application,
  .add-group,
  .add-agreement,
  .add-packet-mode {
    background: #e7e7e8;
    border-radius: 8px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
    image {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
  }
  .add-scene-mode {
    background: #fff6e9;
    border-radius: 8px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #f8a940;
    margin-top: 16px;
    image {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
  }
  .add-role {
    background: #ffffff;
    border-radius: 8px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #bbbbbb;
    margin-top: 16px;
    margin-bottom: 16px;
    image {
      width: 30px;
      height: 30px;
      margin-right: 16px;
    }
  }
  .application-padding {
    width: 100%;
    height: 16px;
  }
  .font24 {
    font-size: 24px;
  }
  .check_box {
    color: #999;
    font-size: 26rpx;
    padding-left: 16rpx;
    display: flex;
    align-items: center;
  }

  .check_box_ed {
    color: #333;
  }

  .check_box image {
    height: 26rpx;
    padding-left: 16rpx;
    vertical-align: middle;
    width: 26rpx;
  }
  .activity-check-box {
    display: flex;
    align-items: center;
  }
  .group-text {
    font-size: 24px;
  }
  .font26 {
    font-size: 26px;
  }
  .font24 {
    font-size: 24px !important;
  }
  .font22 {
    font-size: 22px !important;
  }
  .group-red {
    color: #fe3e3f;
    font-weight: bold;
  }
  .group-box {
    background: #efefef;
    padding: 0px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .split {
    padding-bottom: 16px;
  }
  .security-amount {
    text-align: right;
  }
  .remand-ratio {
    display: flex;
  }
  .remand-ratio-input {
    width: 150px;
    margin-left: 6px;
    text-align: right;
  }
  .task-desc {
    width: calc(100% - 32px);
    background: #e7e7e8;
    border-radius: 8px;
    height: 200px;
    margin-bottom: 16px;
    padding: 16px 16px;
  }
  .activity-tips {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 40px;
  }
  .now-day-txt {
    margin: 0px 16px;
    font-size: 30px;
  }
  .mleft {
    margin-left: 16px;
  }
  .agreement-content {
    background: #e7e7e8;
    border-radius: 8px;
    padding: 16px 16px;
    height: 50px;
    margin-left: 16px;
  }
  .agreement-item {
    display: flex;
    margin: 16px 0px;
  }
  .create-agreement {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    .agreement-box {
      background: #ffffff;
      border-radius: 8px;
      padding: 16px 30px;
      width: 600px;
      .agreement-title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding: 16px 0px;
        position: relative;
      }
      .agreement-close {
        position: absolute;
        right: 0px;
        top: 0px;
        background: url("https://yuepai-oss.qubeitech.com/static/images/common/icon_sizer_close.png")
          no-repeat;
        background-size: 40px;
        width: 40px;
        height: 40px;
      }
      .agreement-content,
      .agreement-name {
        width: 80%;
      }
      .agreement-name {
        padding: 0px 16px;
      }
    }
    .agreement-name {
      margin-left: 16px;
    }
    .agreement-btns {
      width: 80%;
      margin: 16px auto;
      height: 66px;
      line-height: 66px;
      background: #fe3e3f;
      border-radius: 33px;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
    }
  }

  .member-row {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .end-day-time {
    font-size: 30px;
    color: #333333;
    margin: 0px 6px;
  }
  .activity-time {
    display: flex;
  }
  .active-echo {
    background: #fdf6ea;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  .active-echo-item {
    display: flex;
    align-items: center;
  }
  .active-echo-txt {
    color: #adaca9;
    font-size: 28px;
    margin-left: 16px;
  }
  .active-echo-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #b68634;
    border: 2px solid #b68634;
    border-radius: 24px;
    padding: 4px 16px;
    margin-top: 16px;
  }
  .active-echo-edit image {
    width: 34px;
    height: 34px;
  }
  .add_bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    z-index: 99;
    .add_btn {
      width: 80%;
      text-align: center;
      background: #fe5457;
      color: #ffffff;
      font-size: 30px;
      border-radius: 40px;
      padding: 14px 40px;
    }
  }
  .set-scene {
    background: #ffffff;
    padding: 16px;
    border-radius: 8px;
    margin: 16px;
    .set-scene-title {
      font-size: 30px;
      color: #333333;
      margin-bottom: 16px;
    }
    .set-scene-box {
      background: #fdf6e8;
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 16px;
    }
    .scene-theme {
      display: flex;
      justify-content: center;
      margin: 16px 0px;
      position: relative;
    }
    .theme-name {
      font-size: 30px;
      margin-right: 16px;
    }
    .theme-input {
      border-bottom: 1px solid #d4d0cb;
      color: #333333;
      font-size: 26px;
    }
    .theme-delete {
      position: absolute;
      right: 0;
      font-size: 26px;
      color: #6493d7;
    }
    .scene-item {
      border: 2px solid #f4cb9b;
      border-radius: 8px;
      padding: 0px 16px;
    }
    .scene-tips {
      color: #cc9a4b;
      font-size: 22px;
      margin: 16px 0px;
    }
    .set-scene-ct {
      background: #ffffff;
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 16px;
    }
    .role-delete {
      font-size: 28px;
      color: #6493d7;
      text-align: right;
    }
    .role-name {
      text-align: right;
      width: 420px;
    }
    .object {
      display: flex;
    }
    .object-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 6px;
      }
      text {
        font-size: 24px;
        color: #808080;
      }
    }
  }
  .invite {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    .invite-members {
      width: 600px;
      background-color: #ffffff;
      border-radius: 8px;
      padding: 16px 30px;
    }
    .invite-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding: 16px 0px;
      position: relative;
    }
    .invite-close {
      position: absolute;
      right: 0px;
      top: 0px;
      background: url("https://yuepai-oss.qubeitech.com/static/images/common/icon_sizer_close.png")
        no-repeat;
      background-size: 40px;
      width: 40px;
      height: 40px;
    }
    .invite-item {
      display: flex;
      margin-bottom: 16px;
    }
    .query-box {
      margin-left: 16px;
      width: 420px;
      position: relative;
    }
    .query-input {
      border: 1px solid #efefef;
      border-radius: 2px;
      height: 60px;
      line-height: 60px;
      width: 100%;
      padding: 0px 16px;
    }
    .check_box {
      margin-left: 16px;
    }
    .group {
      position: absolute;
      z-index: 9;
      background: #ffffff;
      left: 0px;
      right: 0px;
      top: 62px;
      width: 454px;
      box-shadow: 0 -1rpx 8rpx 0 rgba(0, 0, 0, 0.02);
    }
    .group-item {
      display: flex;
      position: relative;
      padding: 8px 16px;
      border-bottom: 1px solid #efefef;
    }
    .group-item-left {
      display: flex;
      align-items: center;
    }
    .group-item-left image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 16px;
    }
    .group-item-center {
      font-size: 26px;
      color: #333333;
    }
    .identity {
      color: rgba(0, 0, 0, 0.5);
      margin-left: 16px;
    }
    .group-item-right {
      display: flex;
      height: 100%;
      align-items: center;
      position: absolute;
      right: 16px;
      top: 0;
    }
    .group-item-right image {
      width: 30px;
      height: 30px;
    }
    .invited-user-item {
      display: flex;
      align-items: center;
      font-size: 28px;
      color: #333333;
      padding: 0px 16px;
      justify-content: space-between;
      image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 16px;
      }
      .invited-uuid {
        width: 100px;
      }
      .invited-name {
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .invited-box {
      border: 1rpx solid #efefef;
      padding: 16px 0px;
      position: relative;
    }
    .invited-num {
      border-left: 6px solid #fe3e3f;
      border-radius: 3px;
      padding-left: 16px;
      color: #333333;
      font-weight: bold;
      margin-bottom: 16px;
      margin-top: 16px;
    }
    .invited-delete {
      font-size: 26px;
    }
    .confirm-invitation {
      width: 300px;
      height: 60px;
      line-height: 60px;
      color: #ffffff;
      background: #fe3e3f;
      border-radius: 30px;
      text-align: center;
      margin: 16px auto;
    }
  }
}
