page {
  background-color: #f7f7f7;
}
.main {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  .main_top {
    position: relative;
  }
  .back {
    position: absolute;
    top: 0px;
    left: 16px;
    image {
      width: 40px;
      height: 40px;
      position: absolute;
    }
  }
  .homeimg {
    background: #ea6a6b;
    width: 100%;
    padding-bottom: 40px;
  }
  .homeimg-show {
    width: 100%;
    padding-bottom: 10px;
  }
  .my-head {
    display: flex;
    padding: 30px 30px 6px 30px;
    .my-head-left {
      position: relative;
      align-items: center;
      display: flex;
    }
    .user-vip {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 0px;
      top: 96px;
    }
    .head-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
    .my-head-top {
      display: flex;
    }
    .my-head-name {
      font-size: 36px;
      color: #fffefb;
    }
    .my-head-vip {
      background: url("https://yuepai-oss.qubeitech.com/static/images/level-icon.png")
        left center no-repeat;
      background-size: 128px 64px;
      color: #ffffff;
      font-size: 24px;
      width: 128px;
      display: flex;
      align-items: center;
      text-indent: 60px;
      transform: scale(0.7);
    }
    .my-head-ct {
      width: 64%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .my-account {
      color: #fffefb;
      font-size: 26px;
      margin-bottom: 5px;
      margin-bottom: 10px;
      display: flex;
      .my-account-item {
        margin-right: 30px;
      }
    }
    // .my-head-name {
    //   font-size: 36px;
    //   color: #fffefb;
    //   margin-top: 10px;
    // }

    // .my-head-ct {
    //   width: 64%;
    // }
    // .my-account {
    //   color: #fffefb;
    //   font-size: 26px;
    //   margin-bottom: 5px;
    // }
    .my-info {
      color: #fffefb;
      font-size: 26px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }
    .head-tag-box {
      display: flex;
      margin-right: 16px;
    }
    .head-tag {
      display: flex;
      align-items: center;
      border-radius: 2px;
      margin-right: 8px;
      padding: 4px 6px;
      background-color: #eb7d80;
      color: #fffefb;
      font-size: 20px;
    }
    .head-tag-img {
      width: 100px;
      height: 30px;
      margin-right: 16px;
    }
    .my-head-rt {
      display: flex;
      align-items: center;
      font-size: 24px;
      color: #fffefb;
      width: 126px;
      position: relative;
      image {
        width: 22px;
        height: 22px;
      }
    }
  }
  .my-head-ct {
    padding: 0px 30px;
    .my-desc {
      color: #fffefb;
      font-size: 26px;
      line-height: 30px;
    }
  }
  .my-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    .my-conunt-left {
      display: flex;
      font-size: 26px;
    }
    .my-conunt-rt {
      image {
        width: 112px;
        height: 53px;
      }
    }
    .followed_style {
      padding: 10px 20px;
      border-radius: 30px;
      color: #ffffff;
      font-size: 26px;
      border: 2px solid #ffffff;
    }
    .followed_style2 {
      padding: 4px 40px;
      border-radius: 30px;
      border: 2px solid #ffffff;
      background: url("https://yuepai-oss.qubeitech.com/static/images/common/followed.jpg")
        no-repeat center center;
      background-size: 36px;
    }
    .followed_send_msg {
      padding: 10px 20px;
      border-radius: 30px;
      color: #ffffff;
      font-size: 26px;
      border: 2px solid #ffffff;
      margin-right: 16px;
    }
    .my-count-box {
      display: flex;
      flex-direction: column;
      margin-right: 26px;
      text-align: center;
      color: #fffefb;
      .num {
        margin-bottom: 4px;
      }
    }
  }
  .my_tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    .tag {
      padding: 4px 10px;
      background-color: #eb7d80;
      color: #fffefb;
      font-size: 24px;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
    }
    .sex {
      width: 24px;
      height: 24px;
      margin-right: 6px;
    }
  }
  .line-bg {
    position: absolute;
    width: 100%;
    top: -24px;
    border-radius: 26px 26px 0px 0px;
    height: 26px;
    background: #ffffff;
    border: none;
  }
  .main_list {
    width: 100%;
    position: relative;
    .swiper_tab {
      height: 88px;
      display: flex;
      justify-content: space-between;
      padding: 0px 150px;
      background: #ffffff;
    }
    .tab_item {
      line-height: 82px;
      padding: 0 16px;
    }
    .on {
      border-bottom: 6px solid #ff1e3e;
    }
    .home_item {
      padding: 16px 30px;
      background: #ffffff;
      margin-top: 16px;
      color: #333333;
    }
    .home_item_title {
      display: flex;
      justify-content: space-between;
    }
    .home_item_title_text {
      font-size: 28px;
      font-weight: 600;
    }

    .user_infor_text {
      font-size: 26px;
      color: #999999;
    }

    .home_item_title_edit {
      color: #6493d7;
      font-size: 28px;
    }
    .home_item_main {
      display: flex;
      // justify-content: space-between;
      padding: 16px 0px;
      position: relative;
    }
    .moka-info {
      display: flex;
      justify-content: space-between;
    }
    .user_infor_text,
    .user_infor_value {
      min-width: 160px;
      text-align: center;
    }
    .user_infor_value {
      margin-bottom: 10px;
    }
    .home_img_add {
      background-color: #f7f7f7;
      height: 300px;
      width: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      image {
        width: 58px;
        height: 58px;
      }
    }
    .home_img_add:last-child {
      margin-right: 0px;
    }
    .personimg_item {
      width: 220px;
      position: relative;
      margin-right: 16px;
      image {
        width: 100%;
        height: 300px;
      }
      .personimg-txt {
        color: #999999;
        font-size: 28px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .personimg-mc {
        position: absolute;
        right: 0px;
        top: 0px;
        background: url("../../../../assets/images/photo-white.png") 16px center
          no-repeat rgba(0, 0, 0, 0.5);
        padding: 1px 16px 1px 50px;
        background-size: 26px;
        border-radius: 20px 0px 0px 20px;
        font-size: 24px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .personimg_item:last-child {
      margin-right: 0px;
    }
    .icon_imgnum {
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 20rpx 0 0 0;
      bottom: 0;
      color: #ffffff;
      font-size: 24rpx;
      padding: 6rpx 0;
      position: absolute;
      right: 0;
      width: 68rpx;
      text-align: center;
    }
    .home_video_add {
      background-color: #f7f7f7;
      height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      image {
        width: 58px;
        height: 58px;
      }
    }
    .home_item_tag {
      margin-top: 16px;
      font-size: 28px;
      display: flex;
      flex-wrap: wrap;
      .tag_item {
        padding: 4px 10px;
        background: rgba(245, 50, 24, 0.08);
        color: #ff1e3e;
        font-size: 22px;
        border-radius: 8px;
        margin-right: 10px;
        margin-bottom: 16px;
      }
    }
    .home_item_tag:last-child {
      margin-bottom: 16px;
    }
    .video_item {
      width: 337px;
      margin-right: 16px;
    }
  }
  .mokaimg {
    width: 100%;
  }
  .zhuye_fixed_bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    .zhuye_fixed_rt,
    .zhuye_fixed_left,
    .zhuye_fixed_ct {
      width: 180px;
      text-align: center;
      background: #fe5457;
      color: #ffffff;
      font-size: 30px;
      font-weight: bold;
      border-radius: 40px;
      padding: 14px 16px;
    }
    .zhuye_fixed_left {
      background: #00bb80;
    }
    .zhuye_fixed_ct {
      background: #f89505;
    }
  }
  .fix-iphonex-button {
    padding-bottom: 48px;
  }
  .next-btn {
    height: 78px;
    line-height: 78px;
    border-radius: 8px;
    background: #fe5457;
    text-align: center;
    color: #ffffff;
    width: 100%;
  }
  .more_dian {
    display: flex;
    margin: 0px 16px;
  }
  .more_dian .dian_item {
    width: 10px;
    height: 10px;
    background: #ff2844;
    border-radius: 50%;
    margin-right: 6px;
  }
  .more_title {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .publishing-works {
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text {
      width: 160px;
      padding: 16px;
      background: #ff1e3e;
      color: #ffffff;
      font-size: 30px;
      border-radius: 38px;
      text-align: center;
    }
  }
  .publishing-tips,
  .nomore {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    text-align: center;
  }
  .componets-box {
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    .list_top {
      display: flex;
      justify-content: space-between;
    }
    .list_top_left {
      display: flex;
      align-items: center;
    }
    .list_top_rt {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .list_info {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      justify-content: center;
      .list_name {
        // margin-bottom: 5px;
        color: #111111;
        font-size: 34px;
      }
      .list_p {
        color: #686868;
        font-size: 26px;
        display: flex;
        align-items: center;
      }
      .list_p_img {
        width: 100px;
        height: 30px;
        margin-left: 16px;
      }
      .icon_pledge {
        background: url("https://yuepai-oss.qubeitech.com/static/images/pledge.png")
          #f0f6ff 10px center no-repeat;
        background-size: 26px;
        color: #67a6ff;
        font-size: 20px;
        padding: 2px 10px;
        border-radius: 8px;
        padding-left: 40px;
        margin-left: 16px;
      }
      .icon_real {
        background: url("https://yuepai-oss.qubeitech.com/static/images/real.png")
          #fbede4 10px center no-repeat;
        background-size: 26px;
        color: #ff9946;
        font-size: 20px;
        padding: 2px 10px;
        border-radius: 8px;
        padding-left: 40px;
        margin-left: 16px;
      }
    }
    .list_collection image {
      width: 40px;
      height: 40px;
    }
    .list_content {
      color: #2f2f2f;
      font-size: 30px;
      margin: 16px 0px;
      .list_title {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      .list_title_desc {
        font-size: 30px;
        font-weight: bold;
        color: #333333;
        margin-top: 16px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .list_loction {
      background: url("https://yuepai-oss.qubeitech.com/static/images/common/local.png")
        left center no-repeat;
      background-size: 36px;
      padding-left: 36px;
      font-size: 36px;
      color: #3a3a3a;
    }
    .list_date {
      color: #686868;
      font-size: 24px;
    }
    .list_desc {
      font-size: 30px;
      color: #6b6b6b;
      line-height: 36px;
      margin-bottom: 16px;
    }
    .list_img {
      display: flex;
      white-space: nowrap;
      .list_img_item {
        width: 214px;
        height: 214px;
        border-radius: 10px;
        margin-right: 20px;
        background: #e5e5e5;
      }
    }
    .list_sex {
      width: 30px;
      height: 30px;
      margin-left: 4px;
    }
    .list_tags {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      .tag {
        padding: 4px 10px;
        background: rgba(245, 50, 24, 0.08);
        color: #ff1e3e;
        font-size: 22px;
        border-radius: 8px;
        margin-right: 10px;
        margin-bottom: 16px;
      }
    }
    .list_bottom {
      display: flex;
      justify-content: space-between;
      color: #6b6b6b;
      border-top: 1px solid #ebebeb;
    }
    .list_time {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_yuepai {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_read {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_video-width {
      width: 50%;
    }
    .list_tips {
      display: flex;
      align-items: center;
      background-color: #f9dbdb;
      padding: 4px 16px;
      border-radius: 8px;
      color: #a09595;
      max-width: 80%;
      font-size: 26px;
    }
    .warn_icon {
      width: 31px;
      height: 31px;
      margin-right: 4px;
    }
    .list_status {
      background: rgba(0, 0, 0, 0.4);
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -40px;
    }
    .list_status_sucess {
      background: #4395ff;
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -40px;
    }
    .list_status_fail {
      background: #ff1e3e;
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -40px;
    }
  }
}
