page {
  background-color: #f7f8fa;
}

.main,
page {
  height: 100%;
  width: 100%;
}
.ub-f1 {
  box-flex: 1;
}
.editpersonimg {
  display: block;
  padding-top: 10px;
}

.none_main {
  background-color: #fff;
}

.side_gap {
  width: 30px;
}

.side_gap_right {
  width: 10px;
}

.personimgs {
  background-color: #fff;
  margin: 0 auto;
  padding-left: 16px;
}

.imgsblock {
  background-color: #fff !important;
  width: 100%;
}

.imgsblock {
  display: block;
  float: left;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.pick_img {
  background-color: #f7f8fa;
  border-radius: 4px;
  float: left;
  height: 310px;
  margin: 30px 20px 0 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 217px;
}

.pick_img_btn {
  height: 150px;
  text-align: center;
}

.pick_img_btn image {
  height: 38px;
  margin-top: 113px;
  width: 38px;
}

.upload-text {
  color: #ccc;
  font-size: 24px;
  height: 75px;
  padding-top: 13px;
  text-align: center;
}

.preview_img {
  background-color: #f7f8fa;
  float: left;
  height: 310px;
  margin: 30px 16px 0 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 224px;
}

.preview_img > image {
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.preview_delet {
  background: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  height: 34px;
  line-height: 34px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
}

.preview_delet > image {
  height: 100%;
  position: absolute;
  right: 2px;
  width: 100%;
}

.icon_coverimg {
  background-color: #ff1e3e;
  border-radius: 20px 0 0 0;
  bottom: 0;
  color: #fff;
  font-size: 24px;
  padding: 6px 0;
  position: absolute;
  right: 0;
  width: 68px;
}

.sub_btn {
  padding: 80px 103px 90px;
}
.sub_btn button {
  background-color: #ff1e3e;
  color: #fff;
  font-size: 32px;
  height: 88px;
  line-height: 88px;
}
