.componets-list {
  padding-bottom: 16px;
}
.componets-box {
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
}
.tonggao-recommend-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tonggao-recommend-img image {
    width: 180px;
    height: 270px;
    margin-right: 16px;
  }
  .tonggao-info-title {
    display: flex;
    font-size: 30px;
    font-weight: bold;
  }
  .tonggao-txt {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 62%;
  }
  .tonggao-info-desc {
    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
    line-height: 36px;
    margin-top: 16px;
    /* 主要控制父元素容器里面子元素的排列方式 */
    display: -webkit-box;
    display: -moz-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /* 实现限制文字显示多少行,也就是说要多少行是出现省略号,我这里设置三行就让文本出现省略号 */
    -webkit-line-clamp: 2;
  }
  .tonggao-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    .tag-item {
      padding: 4px 10px;
      background: rgba(245, 50, 24, 0.08);
      color: #ff1e3e;
      font-size: 22px;
      border-radius: 8px;
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }
  .tonggao-recommend-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pirce {
      color: #ff1e3e;
      font-size: 36px;
      font-weight: bold;
    }
    .recommend-btn {
      border: 1px solid #ff1e3e;
      border-radius: 8px;
      padding: 4px 10px;
      font-size: 26px;
      color: #ff1e3e;
    }
  }
}
