page {
  background: #f7f7f7;
}
.my-model-card {
  height: 100vh;
  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
  }
  .tab-item {
    position: relative;
    color: #333333;
    flex: 1;
    font-size: 30px;
    text-align: center;
    line-height: 80rpx;
    border-bottom: 6rpx solid #ffffff;
    margin: 0px 15%;
  }
  .tab-num {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: red;
    border-radius: 50%;
    font-size: 20px;
  }
  .content {
    flex: 1;
    height: 100vh;
  }
  .content > swiper {
    height: 100%;
  }
  .tab-item.on {
    color: #333333;
    font-weight: bold;
    border-bottom-color: #ff1e3e;
  }
  .swiper-box {
    height: 100%;
  }
  .card-box:first-child {
    margin-top: 104px;
  }
  .card-box {
    background: #ffffff;
    border-radius: 8px;
    padding: 30px 30px 14px 30px;
    margin: 0px 16px 16px 16px;
    image {
      width: 100%;
    }
  }
  .card-bottom {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    .card-delete {
      font-size: 26px;
      padding: 10px 30px;
      border-radius: 26px;
      background: #ededed;
      color: #333333;
    }
    .card-img {
      font-size: 26px;
      padding: 10px 30px;
      border-radius: 26px;
      background: #ff1e3e;
      color: #ffffff;
    }
  }
  .none-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    color: #333;
  }
  .none-img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
}
