.home {
  background-color: #f4f4f4;
  .custom_head {
    width: 750px;
    background: #fe5457;
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
  }
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .head_left {
    display: flex;
  }
  .head_sign,
  .head_signed {
    margin-right: 30px;
    margin-left: 22px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    image {
      width: 60px;
      height: 60px;
    }
  }
  .head_signed {
    color: #ffffff;
  }
  .head_nav {
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .select-city {
    color: #ffffff;
    font-size: 32px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    .roll-down {
      width: 26px;
      height: 38px;
      transform: rotate(-90deg);
      margin-left: 16px;
    }
  }
  .page-bg {
    background: #fe5457;
    width: 100%;
    height: 150px;
    border-radius: 0px 0px 16px 16px;
  }
  .page-section {
    margin: -130px 16px 16px 16px;
    border-radius: 20px;
  }
  .swiper-item,
  .swiper-item-img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .news {
    display: flex;
    padding: 0px 16px 16px 16px;
    align-items: center;
    .news-title {
      background: url(../../assets/images/common/icon_tongzhi.png) no-repeat 0px
        center;
      background-size: 36px;
      padding-left: 46px;
      font-size: 30px;
      font-size: #333333;
    }
    .news-line {
      margin: 0px 16px;
      color: #bbbbbb;
    }
    .news-txt {
      color: #808080;
    }
    .news-btn {
      margin-left: 16px;
      color: #f2270c;
      border: 1px solid #f2270c;
      border-radius: 8px;
      padding: 4px 6px;
      font-size: 26px;
    }
  }
  .page-nav {
    background: #ffffff;
    border-radius: 12px;
    margin: 0px 16px 16px 16px;
    padding: 16px;
  }
  .page-nav-top {
    display: flex;
    justify-content: space-between;
  }
  .page-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .page-nav-img {
    width: 100px;
    height: 100px;
  }
  .page-nav-text {
    color: #333333;
    font-size: 28px;
    margin-top: 6px;
  }
}
