page {
  background-color: #f4f4f4;
}
.invite {
  text-align: center;
  .invite-top {
    font-size: 26px;
    color: #333333;
    padding: 16px;
  }
  .invite-list,
  .invite-top {
    background: #ffffff;
    margin: 16px;
    border-radius: 8px;
  }
  .invite-list-title {
    margin: 16px auto;
    font-size: 32px;
    color: #333333;
  }
  .invite-p {
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
  }
  .invite-item {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.5);
  }
  .blod {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
  }
  .none-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    color: #333;
  }
  .none-img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
}
