page {
  background-color: #f4f4f4;
}
.withdrawal {
  margin: 16px;
  .withdrawal-box {
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 30px;
  }
  .withdrawal-title {
    display: flex;
    align-items: center;
  }
  .withdrawal-lable-blod {
    font-size: 30px;
    color: #333333;
    font-weight: bold;
  }
  .withdrawal-tips {
    font-size: 24px;
    margin-left: 16px;
    color: #c8c8c8;
  }
  .withdrawal-select {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-top: 16px;
    .withdrawal-lable {
      color: #333333;
      font-size: 28px;
    }
    image {
      width: 28px;
      height: 28px;
      margin-right: 16px;
    }
  }
  .withdrawal-input {
    padding: 16px 0px;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    .unit {
      font-size: 30px;
      color: #333333;
      font-weight: bold;
      margin-right: 16px;
    }
    .withdrawal-blance {
      font-size: 30px;
      color: #333333;
    }
  }
  .withdrawal-blance-tips {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  .blance-tips {
    font-size: 24px;
    margin-right: 16px;
    color: #c8c8c8;
  }
  .full-withdrawal {
    font-size: 24px;
    color: #2980fc;
  }
  .immediate-withdrawal {
    width: calc(100% - 32px);
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 16px 0px 50px 0px;
    z-index: 9;
    .submit {
      width: 90%;
      height: 78px;
      line-height: 78px;
      background-color: #fe3e3f;
      color: #ffffff;
      text-align: center;
      border-radius: 39px;
      font-size: 28px;
    }
  }
}
