page {
  background: #f7f7f7;
}
.tonggao-manage {
  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
  }
  .tab-item {
    color: #333333;
    flex: 1;
    font-size: 30px;
    text-align: center;
    line-height: 80rpx;
    border-bottom: 6rpx solid #ffffff;
  }
  .content {
    flex: 1;
    height: 100vh;
  }
  .content > swiper {
    height: 100%;
  }
  .tab-item.on {
    color: #333333;
    font-weight: bold;
    border-bottom-color: #ff1e3e;
  }

  .swiper-box {
    height: 100%;
  }

  .tonggao-manage-list {
    color: #2f2f2f;
    font-size: 30px;
    margin: 16px 0px;
    background: #ffffff;
    padding: 30px 30px 16px 30px;
    border-radius: 8px;
    .list-content {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 16px;
    }
    .list_title {
      font-size: 32px;
      margin-top: 16px;
    }
    .list_desc {
      font-size: 26px;
      color: #6b6b6b;
      line-height: 36px;
      margin-bottom: 6px;
    }
    .list_info {
      font-size: 26px;
      color: #333333;
      line-height: 36px;
      display: flex;
      align-items: center;
      image {
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
    .list_rt {
      display: flex;
      align-items: center;
    }
    .list_rt image {
      width: 200px;
      height: 200px;
    }
    .list_bottom,
    .list_num {
      display: flex;
      justify-content: space-between;
      color: #6b6b6b;
    }
    .list_num {
      margin-bottom: 16px;
    }
    .list_time {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_yuepai {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_read {
      display: flex;
      align-items: center;
      font-size: 24px;
      image {
        width: 26px;
        height: 26px;
        margin-right: 4px;
      }
    }
    .list_status {
      background: rgba(0, 0, 0, 0.4);
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -30px;
    }
    .list_status_sucess {
      background: #4395ff;
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -30px;
    }
    .list_status_fail {
      background: #ff1e3e;
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 0px 12px;
      position: absolute;
      right: -30px;
      top: -30px;
    }
    .list_tag {
      background: #f9942a;
      font-size: 22px;
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 0px 0px 12px 0px;
      position: absolute;
      left: 0px;
      top: -30px;
    }
    .btn-grey {
      background: rgba(0, 0, 0, 0.4);
      font-size: 22px;
      color: #ffffff;
      padding: 6px 12px;
      border-radius: 8px;
    }
    .btn-red {
      background: #ff1e3e;
      font-size: 22px;
      color: #ffffff;
      padding: 6px 12px;
      border-radius: 8px;
    }
  }
  .tonggao-manage-list:first-child {
    margin-top: 104px;
  }
  .list_bt_rt {
    display: flex;
    .btn-red {
      margin-left: 16px;
    }
  }
  .none-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    color: #333;
  }
  .none-img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
}
