page {
  background-color: #f4f4f4;
}
.growth-guide {
  .growth-guide-box {
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
    padding: 30px;
  }
  .growth-guide-title {
    font-size: 30px;
    color: #333333;
    margin-bottom: 16px;
    text-align: center;
    font-weight: bold;
  }
  .growth-guide-txt {
    font-size: 28px;
    color: #333333;
    line-height: 36px;
  }
  .table-box {
    height: 100%;
    overflow-x: auto;
    margin: 30rpx 0px;
    background: #fff;
    border-radius: 16rpx;
  }

  .table {
    border-radius: 8rpx;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius: 16rpx;
    font-size: 26px;
  }

  .tr {
    display: table-row;
  }

  .th {
    display: table-cell;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    border: 2rpx solid #f3f4f7;
    border-right: none;
    border-bottom: none;
    padding: 0 30rpx;
    color: #333333;
    white-space: nowrap;
    font-weight: bold;
  }

  .td {
    padding: 0 10rpx;
    display: table-cell;
    height: 60rpx;
    vertical-align: middle;
    text-align: center;
    border: 2rpx solid #f3f4f7;
    border-right: none;
  }
  .th:first-child,
  .td:first-child {
    position: sticky;
    left: -2rpx;
    background: #fff;
  }
  .th:first-child {
    background: #fff;
    z-index: 1; /*左上角单元格z-index，切记要设置，不然表格纵向横向滚动时会被该单元格右方或者下方的单元格遮挡*/
  }
  .th:nth-child(2),
  .td:nth-child(2) {
    position: sticky;
    left: 160rpx;
    background: #fff;
  }
  .th:nth-child(2) {
    background: #fff;
    z-index: 1; /*左上角单元格z-index，切记要设置，不然表格纵向横向滚动时会被该单元格右方或者下方的单元格遮挡*/
  }
  .growth-fixed {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    .growth-btn {
      width: 60%;
      background: #f54e48;
      height: 68px;
      line-height: 68px;
      font-size: 30px;
      color: #ffffff;
      border-radius: 33px;
      text-align: center;
    }
  }
}
