page {
  background-color: #f7f8fa;
}

.main,
page {
  height: 100%;
}

.contact_info {
  background: #fff;
  border-radius: 8rpx;
  box-sizing: border-box;
  margin: 15rpx auto 0;
  padding: 0 10rpx;
  width: 710rpx;
}

.line-b {
  border-bottom: 1rpx solid #f1f1f1;
}

.contact_info_title {
  color: #2f2f2f;
  font-size: 28rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.contact_info_title_tip {
  color: #999;
  font-size: 24rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.item {
  justify-content: space-between;
  padding: 10rpx 20rpx;
}

.item_title {
  color: #2f2f2f;
  font-size: 28rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.item_input {
  color: #666;
  font-size: 28rpx;
  padding-left: 40rpx;
  text-align: right;
}

.item_input,
.item_input input {
  height: 80rpx;
  line-height: 80rpx;
}

.item_input input {
  color: #2f2f2f;
}

.input-placeholder {
  color: #b2b2b2;
  font-size: 28rpx;
  height: 80rpx;
  line-height: 80rpx;
}

.item_switch {
  height: 80rpx;
  line-height: 80rpx;
  margin-top: -10rpx;
}

.item_title_qrcode {
  margin-top: 10rpx;
}

.change_phone_btn {
  background-color: #fff;
  color: #333;
  font-size: 26rpx;
  height: 80rpx;
  line-height: 80rpx;
  margin: 0;
  padding: 0;
  text-align: right;
}

.imgsblock {
  padding: 30rpx 0;
}

.pick_img {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.pick_img,
.pick_img image,
.preview_img {
  height: 170rpx;
  width: 170rpx;
}

.preview_img {
  background: #f4f8fb;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.preview_img > image {
  height: 100%;
  width: 100%;
}

.preview_delet {
  height: 30rpx;
  position: absolute;
  right: 0;
  top: 0;
  width: 30rpx;
}

.preview_delet > image {
  height: 100%;
  position: absolute;
  right: 2rpx;
  width: 100%;
}

.preview_delet_group {
  height: 30rpx;
  margin-right: -15rpx;
  margin-top: 15rpx;
  position: absolute;
  right: 0;
  top: 0;
  width: 30rpx;
}

.preview_delet_group > image {
  float: left;
  height: 100%;
  width: 100%;
}

.imgs_tip_text {
  color: #a3a3a3;
  font-size: 24rpx;
  font-weight: 400;
  line-height: 33rpx;
  padding: 10rpx 0 30rpx;
}

.sub_btn {
  padding: 80rpx 103rpx 90rpx;
}
.sub_btn button {
  background-color: #ff1e3e;
  color: #fff;
  font-size: 32rpx;
  height: 88rpx;
  line-height: 88rpx;
}

.modal-bg {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  overflow: hidden;
  top: 0;
  z-index: 999;
}
.modal-bg,
.model_box {
  position: fixed;
  width: 100%;
}

.model_box {
  top: 30%;
  z-index: 1001;
  display: flex;
  justify-content: center;
}

.model_main {
  background: #fafafa;
  border-radius: 10rpx;
  width: 550rpx;
}

.model_title {
  line-height: 48rpx;
  padding: 40rpx;
}
.btn_no,
.btn_yes,
.model_title {
  color: #000;
  font-size: 34rpx;
  text-align: center;
}

.btn_no,
.btn_yes {
  height: 40rpx;
  line-height: 40rpx;
  padding: 20rpx 10rpx 40rpx;
  width: 100rpx;
}

.btn_yes {
  color: red;
}

.set_lable,
.set_default {
  display: flex;
  justify-content: space-between;
}

.model_btn {
  justify-content: space-between;
}
