page {
  background: #f7f7f7;
}
.yuedan-manage {
  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    position: fixed;
    z-index: 9999;
  }
  .tab-item {
    color: #333333;
    flex: 1;
    font-size: 30px;
    text-align: center;
    line-height: 80rpx;
    border-bottom: 6rpx solid #ffffff;
    margin: 0px 30px;
  }
  .content {
    flex: 1;
    height: 100vh;
  }
  .content > swiper {
    height: 100%;
  }
  .tab-item.on {
    color: #333333;
    font-weight: bold;
    border-bottom-color: #ff1e3e;
  }

  .swiper-box {
    height: 100%;
  }

  .yuedan-manage-list {
    display: flex;
    justify-content: space-between;
    color: #2f2f2f;
    font-size: 30px;
    margin: 10px 0px;
    .list_title {
      font-size: 38px;
    }
    .list_loction {
      background: url("../../../../assets/images/common/local.png") left center
        no-repeat;
      background-size: 36px;
      padding-left: 36px;
      font-size: 36px;
      color: #3a3a3a;
    }
  }
}
