.zuopin {
  padding: 0px 20px 100px 20px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  color: #333333;
  .zuopin-name {
    width: 100%;
  }
  .zuopin-item {
    margin: 10px 0px;
    padding: 0px 16px 16px 16px;
    background: #ffffff;
    border-radius: 4px;
  }
  .zuopin-title,
  .zuopin-info {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #eeeeee;
    color: #333333;
  }
  .zuopin-info {
    justify-content: space-between;
  }
  .check-tips {
    color: #fe3e3f;
    margin-left: 10px;
  }
  .zuopin-tips {
    color: #999999;
    margin-left: 10px;
  }
  .zuopin-upload {
    padding: 28px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .zuopin-upload-img,
  .zuopin-upload-video {
    width: 158px;
    height: 158px;
    margin-right: 10px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    position: relative;
  }
  .upload-width {
    width: 100%;
    height: 100%;
  }
  .upload-video-width {
    width: 400px;
  }
  .upload-img,
  .upload-video {
    width: 40px;
    height: 36px;
  }
  .upload-txt {
    color: #c7c7c7;
    font-size: 26px;
  }
  .zuopin-upload-list {
    display: flex;
    flex-wrap: wrap;
  }
  .zuopin-input {
    height: 88px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 16px;
  }
  .zuopin-item-right {
    display: flex;
    align-items: center;
    text-align: right;
  }
  .zuopin-item-left {
    display: flex;
    align-items: center;
  }
  .zuopin-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .zuopin-item-right image {
    height: 22rpx;
    width: 12rpx;
  }
  .zuopin-localtion {
    height: 88px;
    padding-bottom: 0px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .zuopin-select-item {
    margin-right: 16px;
  }
  .upload-close {
    width: 38px;
    height: 38px;
    background: url("../../../../assets/images/common/x_icon.png") no-repeat
      rgba(0, 0, 0, 0.55);
    background-size: 38px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .tag-list {
    padding: 16px 0px;
    display: flex;
    flex-wrap: wrap;
    .tag-txt {
      padding: 8px 24px;
      border: 1px solid #a9a9a9;
      border-radius: 25px;
      font-size: 22px;
      color: #a9a9a9;
      margin-right: 20px;
      margin-bottom: 16px;
    }
    .active {
      background-color: #fe3e3f;
      color: #ffffff;
      border: 1px solid #fe3e3f;
    }
  }
}
