page {
  background-color: #f4f4f4;
}
.activity-detail {
  padding-bottom: 200px;
  .activity-cover image {
    width: 100%;
    height: 340px;
  }
  .activity-ct {
    margin: 16px;
  }
  .activity-top {
    background: #f2290d;
    color: #ffffff;
    border-radius: 16rpx 16rpx 0 0;
    padding: 30px 30px 46px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .activity-left {
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #ffffff;
  }
  .activity-price {
    font-size: 32rpx;
    font-weight: bold;
    margin-right: 16px;
  }
  .original-price {
    text-decoration: line-through;
  }
  .activity-right {
    font-size: 26px;
  }
  .activity-title {
    display: flex;
    border-radius: 16rpx;
    padding: 30px 16px 0px 16px;
    margin-top: -16rpx;
    background: #ffffff;
    position: relative;
    line-height: 34rpx;
    color: #333333;
    font-weight: bold;
  }
  .activity-tags {
    display: flex;
    flex-wrap: wrap;
    .tag {
      padding: 4px 10px;
      background: rgba(245, 50, 24, 0.08);
      color: #ff1e3e;
      font-size: 22px;
      border-radius: 8px;
      margin-right: 10px;
      margin-top: 6px;
    }
  }
  .activity-info {
    background: #ffffff;
    padding: 16px;
  }
  .guarantee-deposit,
  .task {
    background: #fcf6eb;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .security-image image {
    width: 60px;
    height: 60px;
    margin-right: 16px;
  }
  .security-title {
    font-size: 28px;
    font-weight: bold;
    color: #836f50;
  }
  .security-txt {
    font-size: 22px;
    color: #836f50;
  }
  .task-top {
    display: flex;
    align-items: center;
  }
  .m16 {
    margin-left: 16px;
  }
  .task-tag {
    display: flex;
    .tag {
      padding: 2px 10px;
      border: 1px solid #836f50;
      color: #836f50;
      font-size: 20px;
      margin-right: 16px;
      border-radius: 5px;
      margin-top: 6px;
    }
  }
  .activity-box {
    background: #eeefee;
    border-radius: 8px;
    .activity-time {
      display: flex;
      align-items: center;
      color: #333333;
      font-size: 28px;
      padding: 16px;
      border-bottom: 1px solid #d6d6d6;
      image {
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
    .loction-title {
      display: flex;
      align-items: center;
      color: #333333;
      font-size: 28px;
      padding: 16px 16px 6px 16px;
      font-weight: bold;
      image {
        width: 30px;
        height: 30px;
        margin-right: 6px;
      }
    }
    .loction-detail {
      font-size: 26px;
      color: rgba(0, 0, 0, 0.5);
      padding-left: 46px;
      padding-bottom: 16px;
    }
  }
  .registered {
    background: #ffffff;
    border-radius: 8px;
    margin: 0px 16px;
  }
  .registered-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30rpx;
    font-weight: bold;
    color: #333333;
    padding: 16px;
  }
  .border-left {
    display: inline-block;
    background-color: #ff1e3e;
    border-radius: 4rpx;
    height: 30rpx;
    margin-right: 16rpx;
    width: 8rpx;
  }
  .registered-num {
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
  }
  .expand {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: normal;
    .down {
      width: 30px;
      height: 30px;
      margin-left: 6px;
      transform: rotate(-90deg);
    }
    .up {
      width: 30px;
      height: 30px;
      margin-left: 6px;
    }
  }
  .registered-img {
    padding: 0px 16px;
    image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: -30px;
    }
  }
  .session {
    padding-bottom: 6px;
  }
  .session-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 30px;
    padding: 6px 16px;
    margin: 0px 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    .session-lable {
      position: relative;
      padding: 16px 80px;
    }
    .session-txt {
      z-index: 99;
      position: relative;
      background: #ffffff;
      font-size: 34px;
      font-weight: bold;
      padding: 0px 16px;
      color: #333333;
    }
    .session-line {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 34px;
      border-bottom: 6px solid #bbbbbb;
    }
  }
  .distinguish {
    position: relative;
    border: 2px solid #dddddd;
    border-radius: 8px;
    padding: 40px 16px 16px 16px;
    margin: 30px 16px;
    .candidate-name {
      padding: 6px 16px;
      color: #333333;
      border-radius: 8px;
      position: absolute;
      top: -24px;
      left: 50%;
      margin-left: -70px;
      font-size: 28px;
      width: 140px;
      text-align: center;
      border: 2px solid #dddddd;
      border-radius: 6px;
      z-index: 99;
      background: #ffffff;
    }
    .grade-name {
      background: #bebebe;
      padding: 6px 0px;
      color: #333333;
      border-radius: 8px;
      position: absolute;
      top: -20px;
      left: 50%;
      margin-left: -60px;
      font-size: 28px;
      width: 120px;
      text-align: center;
    }
  }
  .group-box {
    border-radius: 8px;
    margin-top: 16px;
    background: #eeeeef;
    .group-title {
      border-bottom: 2px solid #dddddd;
      color: #333333;
      padding: 6px 16px;
    }
    .group-blod {
      font-weight: bold;
      font-size: 30px;
    }
    .group-num {
      font-size: 28px;
    }
  }
  .group {
    padding: 16px;
    .group-left {
      display: flex;
      align-items: center;
      font-size: 28px;
      color: #333333;
      image {
        width: 34px;
        height: 34px;
      }
    }
  }
  .group-list {
    display: flex;
    justify-content: space-between;
    padding: 6px 16px 6px 34px;
    image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .group-identity-list {
    font-size: 26px;
    color: #333333;
  }
  .group-home {
    padding: 2px 16px;
    border: 1px solid #c6c7c7;
    border-radius: 2px;
    color: #acacad;
    font-size: 22px;
    background: #eeeeee;
  }
  .candidate-title {
    position: relative;
    border-bottom: 1px dotted #dedede;
    margin: 16px 0px 30px 0px;
  }
  .candidate-identity {
    font-size: 26px;
    width: 120px;
    position: absolute;
    top: -12px;
    left: 50%;
    margin-left: -60px;
    background: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  .candidate-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .candidate-identity-list {
    font-size: 26px;
    color: #333333;
  }
  .userinfo {
    background: #ffffff;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
  }
  .userinfo-top {
    display: flex;
    align-items: center;
    image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 16px;
    }
  }
  .userinfo-title {
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 6px;
  }
  .userinfo-lable-box {
    display: flex;
    flex-wrap: wrap;
    .self-support {
      padding: 2px 16px;
      background: #df3f26;
      border-radius: 8px;
      font-size: 22px;
      color: #ffffff;
    }
    .lable {
      padding: 2px 16px;
      border: 2px solid #df3f26;
      border-radius: 8px;
      font-size: 22px;
      color: #df3f26;
      margin-left: 16px;
    }
  }
  .userinfo-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 60px;
    .gohome,
    .contact {
      image {
        width: 40px;
        height: 40px;
        margin-left: 16px;
      }
      display: flex;
      align-items: center;
      border-radius: 30px;
      height: 60px;
      border: 2px solid #df3f26;
      color: #df3f26;
      font-size: 30px;
      width: 200px;
      text-align: center;
    }
  }
  .event-details {
    margin: 16px;
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
    image {
      width: 100%;
      margin-top: 16px;
    }
  }
  .event-title {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
  }
  .activity-desc {
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
  }
  .notes {
    margin: 16px;
    padding: 16px;
    background: #ffffff;
    border-radius: 8px;
  }
  .note-box {
    margin: 16px 0px;
    .note-title {
      font-size: 30px;
      color: #333333;
    }
    .note-desc {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .activity_fixed_bottom {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    .activity_fixed_left {
      display: flex;
      align-items: center;
    }
    .activity_fixed_item {
      position: relative;
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 26px;
      color: #333333;
      image {
        width: 40px;
        height: 40px;
      }
    }
    .activity_fixed_rt {
      width: 280px;
      text-align: center;
      background: #fe5457;
      color: #ffffff;
      font-size: 30px;
      border-radius: 40px;
      padding: 14px 40px;
    }
  }
  .share {
    display: flex;
    align-items: center;
    image {
      width: 40px;
      height: 40px;
    }
  }
  .share-btn {
    padding: 0;
    margin: 0;
  }
  .service {
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
    .service-label {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.5);
      margin-right: 16px;
    }
    .service-content {
      display: flex;
      flex-direction: column;
      background: #eeeeee;
      padding: 6px 16px;
      border-radius: 8px;
      font-size: 26px;
      min-width: 540px;
      max-width: 540px;
    }
    .service-title {
      color: #333333;
    }
    .service-p {
      display: flex;
      align-items: flex-start;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 6px;
    }
    .service-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .service-right image {
      width: 30px;
      height: 30px;
      transform: rotate(-90deg);
    }
    .service-tag {
      border: 2px solid #b0b0b0;
      border-radius: 6px;
      padding: 2px 4px;
      font-size: 22px;
      margin-right: 16px;
      min-width: 100px;
    }
    .service-box {
      display: flex;
      margin-top: 16px;
    }
    .service-txt {
      font-size: 28px;
    }
  }
  .info-box {
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
  }
  .application-select {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    overflow: auto;
    padding-top: 60px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column-reverse;
    .application-content {
      width: 100%;
      background: #ffffff;
      height: 70vh;
      overflow: auto;
      border-radius: 10px 10px 0px 0px;
      position: relative;
    }
    .application-top {
      position: fixed;
      top: 30vh;
      z-index: 99;
      width: 100%;
      background: #ffffff;
      min-height: 80px;
    }
    .application-ct {
      padding-top: 80px;
    }
    .application-price {
      font-size: 42px;
      color: #df3f26;
      padding: 16px 16px 0px 16px;
      font-weight: bold;
    }
    .application-item {
      display: flex;
      background: #efeeef;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
    }
    .application-style2 {
      display: flex;
      background: #efeeef;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
      flex-direction: column;
    }
    .application-item2 {
      display: flex;
    }
    .application-tag {
      border: 2px solid #b0b0b0;
      border-radius: 6px;
      padding: 2px 4px;
      font-size: 22px;
      margin-right: 16px;
      color: #333333;
    }
    .application-txt {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.5);
    }
    .application-group {
      display: flex;
      align-items: center;
      margin-top: 16px;
    }
    .application-group image {
      width: 30px;
      height: 30px;
      margin-top: 6px;
      margin-right: 16px;
    }
    .close-img image {
      width: 48px;
      height: 48px;
      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 99;
    }
    .insure-title,
    .event-frequency-title {
      font-size: 32px;
      color: #333333;
      font-weight: bold;
      padding: 0px 16px;
    }
    .insure-item {
      background: #efeeef;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
      font-size: 28px;
    }
    .active {
      background: #fe5457;
      color: #ffffff;
    }
    .determine-box {
      background: #ffffff;
      padding: 16px;
      position: fixed;
      bottom: 0px;
    }
    .determine-btn {
      height: 66px;
      line-height: 66px;
      text-align: center;
      //   background: #f2290d;
      background: #fe5457;
      border-radius: 33px;
      width: 718px;
      margin: 16px auto;
      color: #ffffff;
      font-size: 30px;
    }
    .selected {
      background: #efeeef;
      border-radius: 30px;
      padding: 16px;
      margin: 16px;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.5);
    }
    .event-frequency-box {
      display: flex;
      flex-direction: column;
      background: #efeeef;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
    }
    .event-frequency-active {
      display: flex;
      flex-direction: column;
      background: #fe5457;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
    }
    .event-active {
      display: flex;
      background: #fe5457;
      border-radius: 8px;
      padding: 16px;
      margin: 16px;
    }
    .event-frequency-item {
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      color: #333333;
    }
    .event-frequency-active .event-frequency-item,
    .event-active .event-frequency-item {
      color: #ffffff;
    }
    .event-frequency-active .application-txt,
    .event-active .application-txt {
      color: #ffffff;
    }
    .event-frequency-active .application-tag,
    .event-active .application-tag {
      color: #ffffff;
      border-color: #ffffff;
    }
    .event-frequency-bt {
      display: flex;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .insure-box {
    padding-bottom: 120px;
  }
  .constituency {
    border-top: 1px solid #d6d6d6;
    padding: 16px;
    margin-top: 16px;
    .constituency-title {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .constituency-item {
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    padding: 0px 16px;
  }
  .constituency-btn1 {
    padding: 2rpx 16rpx;
    border: 1rpx solid #69bd8c;
    border-radius: 2rpx;
    color: #69bd8c;
    font-size: 22rpx;
  }
  .constituency-btn2 {
    padding: 2rpx 16rpx;
    border: 1rpx solid #f2290d;
    border-radius: 2rpx;
    color: #f2290d;
    font-size: 22rpx;
  }
  .fixedGroup .constituency-item {
    padding: 0px 16px 0px 46px;
  }
  .event-frequency-active .constituency-title,
  .event-frequency-active .constituency-item,
  .event-active .constituency-title,
  .event-active .constituency-item {
    color: #ffffff;
  }
  .none-data {
    text-align: center;
    padding: 30px 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 28px;
  }
  .select-group,
  .select-character {
    padding: 0px 16px;
    margin-bottom: 16px;
    .select-group-item,
    .select-character-item {
      background: #eeeeef;
      border-radius: 8px;
      margin-top: 16px;
      padding: 16px;
      font-size: 28px;
      color: #333333;
      display: flex;
      justify-content: space-between;
    }
    .select-group-active,
    .select-character-active {
      background: #fe5457;
      color: #ffffff;
    }
  }
}
