.appointment {
  padding: 65px 0px;
  height: calc(100vh - 130px);
  background-color: #f7f7f7;
  .select-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0px 16px 16px;
  }
  .select-item {
    width: 344px;
    padding: 16px 0px;
    background: #ffffff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.02);
    margin-bottom: 16px;
    image {
      width: 84px;
      height: 84px;
      margin: 0px 30px;
    }
    text {
      font-size: 30px;
    }
  }
}
