page {
  background-color: #f7f8fa;
}
.coin {
  margin: 16px;
  .coin-bg {
    padding: 30px;
    background: #fbd5a1;
    color: #aa6e31;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .coin-bg-left {
    display: flex;
    flex-direction: column;
    .coin-total {
      font-size: 50px;
      margin-bottom: 16px;
    }
    .company {
      font-size: 30px;
    }
    .coin-tips {
      font-size: 28px;
    }
  }
  .coin-bg-rt {
    padding: 6px 26px;
    border: 2px solid #ff1e3e;
    color: #ff1e3e;
    border-radius: 30px;
    font-size: 28px;
  }
  .signin {
    background: #ffffff;
    padding: 30px;
    border-radius: 0px 0px 30px 30px;
    .signin-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
      .signin-lable {
        font-size: 28px;
        color: #333333;
        font-weight: bold;
      }
      .signin-tips {
        padding: 4px 16px 4px 50px;
        font-size: 24px;
        font-weight: bold;
        color: #333333;
        background: url("https://yuepai-oss.qubeitech.com/static/images/timebg.png")
          no-repeat 16px center #fdeeb0;
        border-radius: 28px;
        background-size: 26px;
      }
    }
    .signin-p {
      font-size: 26px;
      color: #333333;
    }
    .signin-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 16px 0px;
    }
    .signin-box {
      width: 84px;
    }
    .signin-box-top {
      background: #f5f1eb;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      align-items: center;
      flex-direction: column;
      image {
        width: 40px;
        height: 40px;
        margin-top: 4px;
      }
    }
    .signin-num {
      font-size: 24px;
      color: #ba8d61;
    }
    .signin-box-bt {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 6px;
    }
    .immediately-signin {
      height: 66px;
      line-height: 66px;
      font-size: 30px;
      border-radius: 33px;
      background: #fae35a;
      color: #ae742a;
      text-align: center;
      font-weight: bold;
    }
    .immediately-sign {
      height: 66px;
      line-height: 66px;
      font-size: 30px;
      border-radius: 33px;
      background: #f5f1eb;
      color: #a09c9b;
      text-align: center;
      font-weight: bold;
    }
  }
  .coin-content {
    margin-top: 16px;
    background: #ffffff;
    border-radius: 30px;
  }

  .tab {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .tab-item {
    color: #333333;
    flex: 1;
    font-size: 30px;
    text-align: center;
    line-height: 80rpx;
    border-bottom: 6rpx solid #ffffff;
    margin: 0px 30px;
  }
  .content {
    flex: 1;
    height: 100vh;
  }
  .detailed,
  .get-coin {
    padding-bottom: 60px;
  }
  .detailed {
    background: #ffffff;
  }
  .content > swiper {
    height: 100%;
  }
  .tab-item.on {
    color: #333333;
    font-weight: bold;
    border-bottom-color: #ff1e3e;
  }

  .swiper-box {
    height: 100%;
  }
  .privilege-list {
    // margin-top: 100px;
    margin-top: 16px;
  }
  .privilege-box {
    margin: 0px 30px;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcece;
    font-size: 26px;
    color: rgba(0, 0, 0, 0.4);
    .blod {
      font-weight: bold;
      color: #333333;
      font-size: 30px;
    }
    .service,
    .vip,
    .novip {
      flex: 1;
    }
    .vip {
      text-align: center;
    }
    .novip {
      text-align: right;
    }
    image {
      width: 30px;
      height: 30px;
    }
  }
  .red {
    color: #ea6a6b;
  }
  .coin-title {
    text-align: center;
    font-size: 32px;
    color: #ea6a6b;
  }
  .get-coin {
    margin-top: 30px;
    // margin-top: 116px;
  }
  .coin-task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px;
    border-bottom: 1px solid #f5f5f5;
  }
  .task-dian {
    width: 14px;
    height: 14px;
    background: #ea6a6b;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 16px;
  }
  .task-info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
  }
  .task-title {
    font-weight: bold;
    font-size: 30px;
  }
  .task-coin {
    font-size: 28px;
    color: #ea6a6b;
    margin-left: 30px;
  }
  .task-tips {
    margin-top: 6px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.4);
  }
  .task-btn {
    width: 100rpx;
    height: 50rpx;
    line-height: 50rpx;
    text-align: center;
    background: #fe5457;
    color: #ffffff;
    font-size: 26rpx;
    border-radius: 10rpx;
  }
  .task-sucess-btn {
    color: rgba(0, 0, 0, 0.5);
  }
  .mt16 {
    margin-top: 16px;
  }
  .task-num {
    color: #ea6a6b;
    padding-right: 30px;
  }
  .detailed-list {
    // margin-top: 100px;
    margin-top: 16px;
  }
  .none-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 180px;
    color: #333;
  }
  .none-img {
    width: 150px;
    height: 150px;
    margin-bottom: 16px;
  }
  .task-split {
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #ea6a6b;
  }
  .task-list {
    padding: 0px 16px 30px 16px;
    background: #ffffff;
  }
  .task-box {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: 1px solid #f5f5f5;
  }
  .task-left {
    display: flex;
    flex-direction: column;
  }
  .task-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    .task-tag {
      padding: 2px 16px;
      border-radius: 8px;
      background: #fac8a4;
      color: #f78c82;
      font-size: 22px;
    }
    .task-title {
      font-size: 26px;
      color: #333333;
      margin-left: 16px;
    }
  }
  .task-label,
  .coin-box,
  .growup-box {
    display: flex;
    align-items: center;
  }
  .coin-box {
    border: 2px solid #fefaf2;
    border-radius: 8px 0px 0px 8px;
  }
  .growup-box {
    border: 2px solid #f1faff;
    border-radius: 8px 0px 0px 8px;
    margin-left: 16px;
  }
  .coin-tag {
    padding: 2px 10px;
    background: #fef8e6;
    color: #f9c073;
    font-size: 20px;
    border-radius: 8px 0px 0px 8px;
  }
  .growup-tag {
    padding: 2px 10px;
    background: #e6f7ff;
    color: #59b6ff;
    font-size: 20px;
    border-radius: 8px 0px 0px 8px;
  }
  .coin-num {
    padding: 0px 10px;
    text-align: center;
    color: #f9c073;
    font-size: 20px;
  }
  .growup-num {
    padding: 0px 10px;
    color: #59b6ff;
    text-align: center;
    font-size: 20px;
  }
  .task-rt {
    display: flex;
    align-items: center;
  }
  .tocomplete {
    font-size: 24px;
    text-align: center;
    padding: 4px 20px;
    border-radius: 22px;
    border: 2px solid #ea6a6b;
    color: #ea6a6b;
  }
  .completed {
    font-size: 24px;
    text-align: center;
    padding: 4px 20px;
    border-radius: 22px;
    border: 2px solid #a1a2a2;
    color: #a1a2a2;
  }
  .task-schedule {
    margin-top: 16px;
    padding-left: 36px;
    display: flex;
    align-items: center;
    background: url("https://yuepai-oss.qubeitech.com/static/images/schedule.png")
      no-repeat left center;
    background-size: 24px;
    color: #a7a6a6;
    font-size: 24px;
  }
}
